<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= quinta.nome %>
    </title>
</head>

<body>
    <h1>Ficha da Quinta</h1>
    <section>
        <h2>
            <%= quinta.nome %>
        </h2>
        <ul>
            <li>Localidade: <%=quinta.localidade%>
            </li>
            <li>Email: <%=quinta.email%></a></li>
        </ul>
    </section>
    <section>
        <ul>
            <% for(let produto of quinta.produtos) { %>
                <li><a href="/produtos/<%= produto._id %>"><%= produto.nome %></a>, <%= produto.preço %>€/Kg, Categoria: <%= produto.categoria %></li>
                <hr>
                <% } %>
        </ul>
    </section>
    <section>
        <button><a href="/quintas">Voltar à lista das quintas</a></button>
    </section>
    <section>
        <button><a href="/quintas/<%=quinta._id%>/editar">Editar a quinta</a></button>
    </section>
    <section>
        <button><a href="/quintas/<%=quinta._id%>/produtos/novo">Criar produto</a></button>
    </section>
    <form action="/quintas/<%= quinta._id%>%>?_method=DELETE" method="post">
        <button>Apagar a quinta</button>
    </form>
</body>

</html>