<%- include("partials/head.ejs") %>

    <%- include("partials/navbar") %>
    <h1>O seu número aleatório é: <%= num %></h1>
    <% if (num % 2 === 0) { %>
    <h2>O número é par!</h2>
    <% } else { %>
    <h2>O número é impar!</h2>
    <% } %>
<h3><%= num%2===0 ? "PAR" : "IMPAR"; %></h3>

<%- include("partials/footer.ejs") %>