<% layout("layouts/boilerplate") %>
<section>
        <h1><%= parque.título %></h1>
        <h2><%= parque.localização %></h2>
        <h2>Preço diário: <%= parque.preço %></h2>
        <p><%= parque.descrição %></p>
        <img src="<%=parque.imagem%>" alt="imagem do parque">
</section>
<button><a href="/parques/<%=parque._id%>/editar">Editar o parque</a></button>
<button><a href="/parques">Voltar à lista dos parques</a></button>
<form action="/parques/<%=parque._id%>?_method=DELETE" method="post">
<button>Apagar o parque</button>
</form>
