<% layout("layouts/boilerplate") %>
        <div class="row justify-content-center">
                <div class="col-md-6">
                        <section class="card p-2 text-center mb-3">
                                <img src="<%=parque.imagem%>" alt="imagem do parque" class="img-fluid card-img-top">
                                <div class="card-body">
                                        <h5 class="card-title mt-2">
                                                <%= parque.título %>
                                        </h5>
                                        <p class="card-text">
                                                <%= parque.descrição %>
                                        </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <%= parque.localização %>
                                        </li>
                                        <li class="list-group-item">
                                                <%= parque.preço %>€/noite
                                        </li>
                                        <li class="list-group-item">
                                                Criado por: <%= parque.autor.username %>
                                        </li>
                                </ul>

                                <section class="card-body">
                                        <% if(utilizadorCorrente && parque.autor.equals(utilizadorCorrente._id)) {%>
                                                <a href="/parques/<%=parque._id%>/editar"
                                                        class="btn btn-info card-link">Editar</a>
                                                <form action="/parques/<%=parque._id%>?_method=DELETE" method="post"
                                                        class="d-inline">
                                                        <button class="btn btn-danger my-3">Apagar</button>

                                                </form>
                                                <% } %>
                                                        <a href="/parques" class="btn btn-secondary card-link">Lista dos
                                                                parques</a>
                                </section>
                        </section>


                </div>
                <section class="col-md-6">
                        <% if (utilizadorCorrente) { %>
                                <h2>Deixe aqui a sua avaliação</h2>
                                <form action="/parques/<%= parque._id %>/avaliacao" method="post" novalidate
                                        class="validar">
                                        <section class="mb-3">
                                                <label for="pontuação" class="form-label">Insira a sua pontuação de 1
                                                        (pior) a 5
                                                        (melhor)</label>
                                                <input type="range" name="pontuação" id="pontuação" min="1" max="5"
                                                        class="form-control form-range" required>

                                        </section>
                                        <section class="my-3">
                                                <label for="avaliação" class="form-label">Insira a sua avaliação</label>
                                                <textarea name="avaliação" id="avaliação" class="form-control"
                                                        required></textarea>
                                                <div class="valid-feedback">
                                                        Perfeito!
                                                </div>
                                                <div class="invalid-feedback">
                                                        Tem que inserir uma avaliação
                                                </div>
                                        </section>
                                        <button class="btn btn-success mb-3">Submeter</button>
                                </form>
                                <hr>
                                <% } %>
                                        <h2>Avaliações</h2>
                                        <% for(avaliação of parque.avaliações) { %>
                                                <section class="card mb-3">
                                                        <section class=" card-body p-2">
                                                                <p class="card-text">
                                                                        <%= avaliação.avaliação %>
                                                                </p>
                                                                <h5 class="card-title">Pontuação: <%=
                                                                                avaliação.pontuação %>
                                                                </h5>
                                                                <% if (avaliação.autor.username) { %>
                                                                        <p class="card-subtitle  text-muted">Autor: <%=
                                                                                        avaliação.autor.username%>
                                                                        </p>
                                                                        <% } %>
                                                        </section>
                                                        <% if (utilizadorCorrente && avaliação.autor.equals(utilizadorCorrente._id)) { %>
                                                                <form action="/parques/<%= parque._id %>/avaliacao/<%= avaliação._id %>?_method=DELETE"
                                                                        method="post" class="p-2">
                                                                        <button
                                                                                class="btn btn-danger btn-sm">Apagar</button>
                                                                </form>
                                                                <% } %>
                                                </section>
                                                <% } %>
                </section>
        </div>
        </div>

        <script>
                (() => {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        const forms = document.querySelectorAll('.validar')

                        // Loop over them and prevent submission
                        Array.from(forms).forEach(form => {
                                form.addEventListener('submit', event => {
                                        if (!form.checkValidity()) {
                                                event.preventDefault()
                                                event.stopPropagation()
                                        }

                                        form.classList.add('was-validated')
                                }, false)
                        })
                })()
        </script>