<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center mb-3">Editar o parque</h1>
    <div class="col-6 offset-3">
        <form action="/parques/<%= parqueActual._id%>%>?_method=PUT" method="post" novalidate class="validar mb-3" enctype="multipart/form-data">
            <section class="mb-3">
                <label for="título" class="form-label">Nome: </label>
                <input type="text" name="título" class="form-control" id="título" value="<%=parqueActual.título%>" required>
                 <div class="valid-feedback">
                        Está Ok!
                    </div>
                    <div class="invalid-feedback">
                        Tem de inserir um nome.
                    </div>
            </section>
            <section class="mb-3">
                <label for="localização" class="form-label">Localização: </label>
                <input type="text" name="localização" class="form-control" id="localização" value="<%=parqueActual.localização%>" required>
                   <div class="valid-feedback">
                        Certo!
                    </div>
                    <div class="invalid-feedback">
                        Qual a localização?
                    </div>
            </section>
            <section class="mb-3">
                <label for="preço" class="form-label">Preço diário: </label>
                <div class="input-group">
                    <input type="text" name="preço" class="form-control" id="preço" value="<%=parqueActual.preço%>" required>
                    <span class="input-group-text">€</span>
                </div>
                   <div class="valid-feedback">
                            Perfeito!
                        </div>
                        <div class="invalid-feedback">
                            Tem de inserir um preço diário.
                        </div>
            </section>
            <section class="mb-3">
                <label for="descrição" class="form-label">Descrição: </label>
                <br>
                <textarea name="descrição" id="descrição" cols="50" rows="10" class="form-control" required><%=parqueActual.descrição%></textarea>
                 <div class="valid-feedback">
                        Muito bem.
                    </div>
                    <div class="invalid-feedback">
                        Lamento, mas tem de inserir uma descrição...
                    </div>
            </section>
            <section class="mb-3">
                <label for="imagem" class="form-label">Insira as imagens:</label>
                <input type="file" name="imagem" id="imagem" class="form-control" multiple>
                 <div class="valid-feedback">
                        Obrigado.
                    </div>
                    <div class="invalid-feedback">
                        É importante inserir uma imagem.
                    </div>
            </section>
            <section class="mb-3">
                <% parqueActual.imagens.forEach((img, ind) => { %>
                    <img src="<%= img.miniatura %>" class="img-thumbnail" alt="imagem do parque" id="imagem-<%= ind %>">
                    <div class="form-check-inline">
                        <label for="imagem-<%= ind %>" class="form-label">Apagar?</label>
                        <input type="checkbox" name="apagarImagem[]" id="imagem-<%= ind %>" value="<%= img.filename %>">
                    </div>
               <% }) %>
            </section>
            <button class="btn btn-primary">Submeter</button>
            <a href="/parques/<%= parqueActual._id%>" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>